 <div class="footer-container">
        <div class="footer-left">
            <a href="/">Lag Log</a>
        </div>
        <div class="footer-right">
            <ul class="menu simple">
                <li><a href="https://github.com/elmahone/BacklogApp"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
