<nav class="top-bar">
    <div class="top-bar-container">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Lag Log</li>
                <li><a href="#">Search games</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <% if(user) { %>
                <li><a href="/backlog">Backlog</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>
                <li><a data-open="login-modal" href="#">Login</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
