<div class="row">
    <div class="small-9 columns">
        <h4><%= game.name %></h4>
    </div>
    <div class="small-3 columns">
        <button class="button success backlog-add">Add to backlog</button>
        <button class="button alert backlog-hide">Hide</button>
    </div>
</div>
