body {
    background-color: #dadada;
}
nav {
    margin-bottom: 2em;
}
#content {
    text-align: center;
    width: 62.5em;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    padding: 0 3em;
    box-shadow: 0px 0px 15px #5e5e5e;
}

article h3 {
    display: inline-block;
}

.button {
    border: 0;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
    font-weight: bold;
    border-radius: 3px;
}

#library-container {

}

#list-container {
    margin-bottom: 2em;
}