<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lag Log | Profile</title>
    <link rel="stylesheet" href="public/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/foundation.min.css">
    <link rel="stylesheet" href="public/css/app.css">
</head>
<body>
<header>
    <% include ../partials/header.ejs %>
</header>
<main>
    <div id="content">
        <h2>Profile - <%= user.username %></h2>
        <input id="user-id" type="hidden" value="<%= user.id %>">
        <div id="steam-user-block">
            <label for="steam-user">Steam</label>
            <div class="input-group">
                <input type="text" class="input-group-field" id="steam-user"
                       placeholder="Steam ID or Steam account name" value="<%= user.steamuser.name %>">
                <a id="save-steamuser" class="button input-group-button"><i class="fa fa-save"
                                                                            aria-hidden="true"></i></a>
            </div>
            <div id="import-steam-button">
                <% if(user.steamuser.id){ %>
                <a id="import-steam">Import Steam library</a>
                <% } %>
            </div>
        </div>
        <hr>
        <div id="xbox-user-block">
            <label for="xbox-user">Xbox</label>
            <div class="input-group">
                <input type="text" class="input-group-field" id="xbox-user" placeholder="Xbox Gamertag"
                       value="<%= user.xboxuser.name %>">
                <a id="save-xboxuser" class="button input-group-button"><i class="fa fa-save"
                                                                           aria-hidden="true"></i></a>
            </div>
            <div id="import-xbox-button">
                <% if(user.xboxuser.id){ %>
                <a id="import-xbox">Import Xbox library</a>
                <% } %>
            </div>
        </div>
        <hr>
        <fieldset class="fieldset">
            <legend><h2>My Library</h2></legend>
            <ul class="tabs" data-tabs id="library-tabs">
                <li class="tabs-title is-active"><a href="#tab-all" aria-selected="true">All</a></li>
                <li class="tabs-title"><a href="#tab-steam">Steam</a></li>
                <li class="tabs-title"><a href="#tab-xbox">Xbox</a></li>
                <li class="tabs-title"><a href="#tab-other">Other</a></li>
                <li class="tabs-title"><a href="#tab-hidden">Hidden</a></li>
            </ul>
            <div class="tabs-content" data-tabs-content="library-tabs">
                <% include ../partials/library-tabs.ejs %>
            </div>
        </fieldset>
    </div>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="public/js/vendor/foundation.js"></script>
<script src="public/js/vendor/what-input.js"></script>
<script src="public/js/app.js"></script>
<script src="public/js/profile.js"></script>
<script>$(document).foundation();</script>
</body>
</html>
