<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lag Log | Profile</title>
    <link rel="stylesheet" href="public/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/foundation.min.css">
    <link rel="stylesheet" href="public/css/app.css">
</head>
<body>
<header>
    <% include ../partials/header.ejs %>
</header>
<main>
    <div id="content">
        <h3>My Profile</h3>
        <% if(user) { %>
            <p>Hello <%= user.username %></p>
        <% } %>
    </div>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>
<% include ../partials/modals.ejs %>

<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="public/js/vendor/foundation.js"></script>
<script src="public/js/vendor/what-input.js"></script>
<script src="public/js/app.js"></script>
<script>$(document).foundation();</script>
</body>
</html>
